.d-heading{
    margin-top: calc(-1.8 * var(--vw));
}
.d-image{
   margin-top: calc(4 * var(--vw));
   width: calc(26 * var(--vw));
   margin-left: calc(2 * var(--vw));
}
.d-image:hover{
    transform: scale(1.1);
}