.h-container{
    background-image: url(../../img/style.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:top;
    background-color: var(--black);
    padding: 3vw 4vw;
    margin-top: -10vw;  
    position: relative; 
    z-index:0; 
  }

.sq1.home{
    top:78vw;
    left:70vw;
    width:30vw;
}
.sq2.home{
    top:200vw;
}
.sq1.home.th{
   top:380vw;
   left:80vw;
   width:20vw
}
.skill.h{
    background-color: rgba(53,126,245,0.3);
    border:1px solid rgb(53,126,245,0.8);
}