.sub-container1.p{
    
}
.project{
    font-family: "Inconsolata-Medium", monospace;
    color: #fff;
    z-index:1;
    margin-top: 7vw;
}
.p-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p-headl{
    display: flex;
    align-items: center;
}
.p-name{
    font-size: 3vw;
    font-family: "Montserrat-Medium",sans-serif;
}
.p-link{
    color: #fff;
    text-decoration: none;
    margin-left: 1vw;
    font-size: 2vw;
}
.p-date{
    font-size: 2.5vw;
    text-align: right;
}
.p-subhead{
    font-size: 3vw;
}
.p-para{
    font-size: 2.5vw;
    line-height: 1.5;
}
.skill.p{
    background-color: rgba(86,120,242,0.3);
    border:1px solid rgb(86,120,242);
    margin-bottom: 1vw;
}
.p-contributors{
    font-size: 3vw;
    font-family: "Montserrat-Medium",sans-serif;
}
.p-contributors-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10vw;
}
.p-contributors-list a{
    color: #fff;
    margin-right: 1vw;
    font-size: 2.5vw;
}

@media screen and (max-width: 750px) {
    
    .p-name{
        font-size: 3.2vw;
    }
    .p-link{
        font-size: 3vw;
    }
    .p-date{
        font-size: 3vw;
    }
    .p-subhead{
        font-size: 3.2vw;
    }
    .p-para{
        font-size: 3vw;
    }
    .p-contributors{
        font-size: 3.2vw;
    }
    .p-contributors-list a{
        font-size: 3vw;
    }
}