.sq1.de{
    top:calc(15 * var(--vw));
    width:calc(26 * var(--vw));
    overflow: hidden;
}
.sq2.de{
    top:calc(102 * var(--vw));
    right:calc(80 * var(--vw));
}

@media screen and (max-width: 750px) {
    .sq1.de{
        top:calc(36 * var(--vw));
    }
    .sq2.de{
        top:calc(118 * var(--vw));
    }
    
}