.w-heading{
    margin-top: calc(-1.4 * var(--vw));
}
.w-image{
    margin-top: calc(6 * var(--vw));
    width: calc(36 * var(--vw));
    margin-left: calc(-2 * var(--vw));
}
.w-image:hover{
    transform: scale(1.1);
}