.a-heading{
  margin-top: calc(4 * var(--vw));
}
.a-image{
    margin-top: 40px;
    width: calc(36 * var(--vw));
    margin-left: -10px;
}
.an-image{
    margin-bottom: -4px;
    margin-left: calc(1.2 * var(--vw));
    width:calc(12 * var(--vw));
}
.a-right{
    margin-left: calc(6 * var(--vw));
}
.a-image{
    display: flex;
    flex-direction: row;
    margin-top: calc(8 * var(--vw));
}
.f-image{
    margin-top: calc(1.8 * var(--vw));
    width: calc(10 * var(--vw));
    height: calc(16 * var(--vw));
    margin-left: 20px;
}
.r-image{
    margin-top: calc(-5 * var(--vw));
    width: calc(14 * var(--vw));
    height: calc(14 * var(--vw));
    margin-left:calc(3 * var(--vw));
}

.f-image:hover{
    transform: scale(1.1);
}
.r-image:hover{
    transform: scale(1.1);
}
@media screen and (max-width:750){
    .f-image{
        margin-top: calc(3 * var(--vw));
        margin-left: 30px;
    }
    .r-image{
        margin-top: calc(0 * var(--vw));
        
        margin-left:calc(3 * var(--vw));
    }
}
