.n-wrapper{
    height: calc(4 * var(--vw));
    display: flex;
    justify-content: right;
    padding: calc(3 * var(--vw)) calc(4 * var(--vw));
    position: relative;
    z-index:1;
}
.n-right{
    display:flex;
    align-items: center;
}
.menu-icon{
    display: none;
}
.menu{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: calc(6 * var(--vw));
  list-style: none;
  
  font-size: calc(1.8 * var(--vw));
}
.menu-item {
  display: flex;
  align-items: center;
}
.menu-item.work{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.menu-item.work{
  justify-content: center;
}
.menu-links.work span{
  margin-right: 10px;
}
.menu-links {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu-links:hover {
    color: var(--gray);
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.fa-bars{
    font-size: 1.5rem;
    color: #fff;
}

@media screen and (max-width: 750px){
    
    .menu {
      display: flex;
      flex-direction: column;
      width: 52%;
      position: fixed;
      top: calc(10 * var(--vw));
      right: -100%;
      margin-right: calc(3 * var(--vw));
      opacity: 1;
      transition: all 0.5s ease;
      font-size: calc(3.8 * var(--vw));
      padding: calc(2 * var(--vw));
      border-radius: 20px;
      font-family: "Montserrat-Medium",sans-serif;
      font-weight: 700;
      gap:calc(3 * var(--vw));
    }
    
      .menu.active {
        background: #000000;
        border-width: 2px;
        border-style: solid;
        border-color: white;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }

      .menu-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .menu-item.work{
        display: flex;
        flex-direction: column;
      }
    
      .menu-links {
        text-align: center;
        padding: 1rem;
        width: 90%;
        display: table;
      }

      .menu-links:hover {
        background-color: white;
        border-radius: 20px;
        color: black;
      }

      .menu-icon {
        display: block;
        transform: translate(-100%, 60%);
        cursor: pointer;
        margin-right: calc(-3 * var(--vw));
      }
    
      .fa-times {
        color: #fff;
        font-size: calc(5 * var(--vw));
      }

      .fa-bars {
        color: #fff;
        font-size: calc(5 * var(--vw));
      }
    
}
