.f-wrapper{
    background-color: #030303;
    color: #fff;
    padding: 5vw;
    height: 20vw;
    margin-top: 5vh;
}
.f-heading{
    font-family: "Montserrat-Medium",sans-serif;
    font-size: 4vw;
    color: #fff;
    margin:0;
    margin-bottom: 2vw;
}
.f-para{
    font-family: "Montserrat-Regular",sans-serif;
    font-size: 2vw;
    color: #fff;
    margin:0;
}
.s-icons a{
    margin-right: 2vw;
    text-decoration: none ;
    color: #fff;
}
.s-icons{
    margin-top: 6vw;
}
.s-icon{
    font-size: 2.5vw;
}