.sub-container.ml{
    margin-top: calc(-10 * var(--vw));
}
.sq1.ml{
    top:calc(38 * var(--vw));
    width:calc(20 * var(--vw));
}
.sq2.ml{
    top:calc(94 * var(--vw));
    right:calc(80 * var(--vw));
}