.m{
  margin-bottom: calc(10 * var(--vw));
}
.m-heading{
  margin-top: calc(-1.8 * var(--vw));
}
  .m-image{
      margin-top: 40px;
      width: calc(36 * var(--vw));
      margin-left: -10px;
  }
  .m-right{
      margin-left: calc(6 * var(--vw));
  }
  .m-image{
      display: flex;
      flex-direction: row;
      margin-top: calc(8 * var(--vw));
  }
  .image-1{
     width:calc(14 * var(--vw));
     height:calc(14 * var(--vw));
     margin-top: calc(-5 * var(--vw));
     margin-left: calc(-0.8 * var(--vw));
  }
  .image-2{
    width:calc(16 * var(--vw));
    height:calc(12 * var(--vw));
    margin-top: calc(9 * var(--vw));
    margin-left: calc(-2 * var(--vw));
  }
  .image-3{
    width:calc(12 * var(--vw));
    height:calc(12 * var(--vw));
    margin-top: calc(-7 * var(--vw));
    margin-left: calc(-8 * var(--vw));
  }
  .image-1:hover{
      transform: scale(1.1);
  }
  .image-2:hover{
      transform: scale(1.1);
  }
  .image-3:hover{
      transform: scale(1.1);
  }

  @media screen and (max-width:750px){
    
  }